/* font-family: 'Andika New Basic', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Chakra Petch', sans-serif; */

/*Global*/
body {
  font-family: "Andika New Basic", sans-serif;
  font-size: 15px;
}
main {
  margin-left: 10px;
  margin-right: 10px;
}
p {
  margin: 5px;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #f2be12;
  font-size: 26px;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 23px;
  color: #1a1a1a;
}

h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #d1a10c;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  color: #1a1a1a;
}

h5 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #d1a10c;
}
h6 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 10px;
  color: #1a1a1a;
}
nav {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  background-color: #f2be12;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
/*Home Page*/
.header {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
button {
  color: white;
  font-size: 15px;
  background-color: #f2be12;
  font-weight: bold;
  width: 50%;
  height: 35px;
  border-radius: 5px;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.topics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
}
.searchBar {
  display: flex;
  justify-content: center;
  background-color: #f2be12;
  padding: 12px;
  padding-left: 50px;
}

.logo-home {
  width: 50%;
}
ul.topicLinksAll {
  display: flex;
  flex-direction: column;
}
ul.topicLinksLimited {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: hidden;
}
/*Content Page*/
.image-content {
  width: 100%;
}

.react-player {
  width: 100%;
}

/*Search Page*/
ul.searchDisplay {
  display: flex;
  flex-direction: column;
}
/*About*/
/*Question*/
.questionSUB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
}
form {
  width: 350px;
  margin-left: 25px;
}
li {
  list-style-type: none;
}

/*About*/
.disclaimer {
  font-size: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
