/* font-family: 'Andika New Basic', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Chakra Petch', sans-serif; */

/*Global*/
body {
  font-family: "Andika New Basic", sans-serif;
  font-size: 12px;
}
header,
main,
footer {
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}

p {
  font-family: "Andika New Basic", sans-serif;
  font-size: 12px;
  margin: 5px;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #f2be12;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  color: #1a1a1a;
}

h3 {
  font-family: "Chakra Petch", sans-serif;
  color: #f2d05e;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  background-color: #f2be12;
  color: white;
  width: 100%;
}
/*Home Page*/
.header {
  background-color: white;
  display: flex;
  justify-content: center;
}

.logo-home {
  width: 50%;
}
ul.topicLinksAll {
  display: flex;
  flex-direction: column;
}
ul.topicLinksLimited {
  display: flex;
  flex-direction: column;
  height: 150px;
  overflow: hidden;
}
/*Content Page*/
.image-content {
  width: 100%;
}

.react-player {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
