/*Global*/
body {
  font-family: "Andika New Basic", sans-serif;
  font-size: 15px;
  width: 100%;
}
h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #f2be12;
  font-size: 26px;
}
h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 23px;
  color: #1a1a1a;
}
h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: #d1a10c;
}
h4 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  color: #1a1a1a;
}
h5 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #d1a10c;
}
h6 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 10px;
  color: #1a1a1a;
}
p {
  margin: 5px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #f2be12;
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  background-color: #f2be12;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
/*Home Page*/
.header {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
button {
  color: white;
  font-size: 15px;
  background-color: #f2be12;
  font-weight: bold;
  width: 50%;
  height: 35px;
  border-radius: 5px;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.topics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
}
.searchBar {
  display: flex;
  justify-content: center;
  background-color: #f2be12;
  padding: 12px;
  padding-left: 50px;
}
.logo-home {
  width: 50%;
}
ul.topicLinksAll {
  display: flex;
  flex-direction: column;
}
ul.topicLinksLimited {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: hidden;
}
/*Content Page*/
.image-content {
  width: 100%;
}
.react-player {
  width: 100%;
}
/*Search Page*/
ul.searchDisplay {
  display: flex;
  flex-direction: column;
}
/*Question*/
.questionSUB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
}
form {
  width: 350px;
  margin-left: 12vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
li {
  list-style-type: none;
}

/*About*/
.about {
  padding-left: 5px;
}
.disclaimer {
  font-size: 10px;
  padding-left: 5px;
}

/* Media Query */
@media screen and (min-device-width: 1100px) and (-webkit-min-device-pixel-ratio: 1) {
  .logo-home {
    height: 45vh;
    width: 45vh;
  }
  .topics {
    display: flex;
    justify-content: center;
    /* padding-left: 10vh; */
  }
  .content-home {
    display: flex;
    justify-content: center;
  }
  body {
    font-family: "Andika New Basic", sans-serif;
    font-size: 20px;
    width: 100%;
  }

  .image-content {
    height: 50vh;
    width: 70vh;
    margin-left: 20vw;
  }

  .react-player {
    width: 300vw;
    height: 500px;
  }
  ul.topicLinksAll {
    padding-left: 15vw;
  }
  ul.topicLinksLimited {
    padding-left: 15vw;
  }
  h3 {
    display: flex;
    justify-content: center;
  }
  h1 {
    display: flex;
    justify-content: center;
  }
  form {
    margin-left: 40%;
  }
  .searchBar {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-left: 0px;
    padding-right: 15vw;
  }
  .showcontentDiv {
    margin: 10vh;
  }
  .question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    margin-right: 25vw;
  }
  .questionH1 {
    margin-left: 25vw;
  }
  .searchDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40vw;
  }
  ul.searchDisplay {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .podcastDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
}
